PORT=4000
NODE_ENV=development

# Supabase (usa preprod para dev local)
SUPABASE_URL=http://192.168.1.24:8100
SUPABASE_SERVICE_KEY=

# APIs externas
APIFOOTBALL_KEY=
NEWS_API_KEY=

# Sesiones
COOKIE_SECRET=cualquier_string_secreto_local

# Solo en producción
CORS_ORIGIN=http://localhost:5173
